/*world_cup.css: most styling for the page, except the tabs, bracket, and buttons, which are complicated enough for their own files*/

body {
    font-family: 'Gill Sans', Helvetica, sans-serif;
    min-width: 1075px; /*fits all tabs, knockout bracket*/
}

@font-face {
    font-family: "Brasil2014";
    src: url('brasil2014.otf') format('opentype');
}

/*the bit above the tabs*/

#header h1, #header p {
    margin: 0;
    padding: 0;
    font-family: "Brasil2014";
    text-align: center;
}

#header {
    position: relative;
}

#tzwrapper {
    position: absolute;
    top: 60%;
}

h1 {
    font-size: 2.5em;
    color: red;
}

/*The background is 4 separate corner images. No repeats, regardless of window size*/

.border {
    position: fixed;
    width: auto;
    height: auto;
    z-index: -1;
}

#top-left {
    top: 0px;
    left: 0px;
    max-width: 40.205%;
    max-height: 26.758%
}

#top-right {
    top: 0px;
    right: 0px;
    max-width: 41.575%;
    max-height: 27.397%
}

#bottom-left {
    bottom: 0px;
    left: 0px;
    max-width: 31.233%;
    max-height: 26.393%
}

#bottom-right {
    bottom: 0px;
    right: 0px;
    max-width: 19.726%;
    max-height: 30.502%;
}

/*line below tabs*/

hr {
    height: 5px;
    margin: -5px 0px 0px 0px;
    color: #ACACAC;
    background-color: #ACACAC;
    border-width: 0px;
    position: relative;
    z-index: 3;
}

/*group stage matches*/

.matches {
    margin-bottom: 10px;
}

.matchRow {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding: 10;
    color: #333333;
    font-size: large;
}

.matchRow::after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;   
}

.details {
    color: #333333;
    font-family: Georgia, serif;
    font-size: small;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;  
}

.details::after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;   
}

.location {
    float: left;
    text-align: left;
    width: 50%;
}

.time {
    float: right;
    text-align: right;
    width: 50%;
}

.team1 {
    float: left;
    text-align: right;
    width: 33.33333%;
    text-weight: bold;
}

.result {
    float: left;
    text-align: center;
    width: 33.33333%;
}

.score1, .score2 {
    width: 20px;
}

.team2 {
    float: right;
    text-align: left;
    width: 33.33333%;
    text-weight: bold;
}

/*group tables*/

.groupTable table {
    margin: 0 auto;
}

th {
    text-shadow: 1px 2px 3px #def, 0 0 0 #000, 1px 2px 3px #def;
    
    background: rgba(243,243,243,1);
    background: -moz-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(191,193,194,1) 50%, rgba(172,172,172,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,243,243,1)), color-stop(50%, rgba(191,193,194,1)), color-stop(100%, rgba(172,172,172,1)));
    background: -webkit-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(191,193,194,1) 50%, rgba(172,172,172,1) 100%);
    background: -o-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(191,193,194,1) 50%, rgba(172,172,172,1) 100%);
    background: -ms-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(191,193,194,1) 50%, rgba(172,172,172,1) 100%);
    background: linear-gradient(to bottom, rgba(243,243,243,1) 0%, rgba(191,193,194,1) 50%, rgba(172,172,172,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#acacac', GradientType=0 );
}

.groupTable tr > th:first-child {
    border-radius: 6px 0px 0px 0px;
}

.groupTable tr > th:last-child {
    border-radius: 0px 6px 0px 0px;
}

.groupTable td > div {
    position: relative;
    height: 30px;
    border-top: 1px solid #ACACAC;
    background: #fff;
}

.groupTable td, .groupTable div {
    padding: 0px;
}

.groupTable .content {
    vertical-align: middle;
    display: inline-block;
}

.groupTable .stat {
    text-align: right;
    padding-right: 5px !important;
}

.groupTable .clinched {
    background: #ccffcc;
}

.groupTable .eliminated {
    background: #ffcccc;
}

/*Country names and flags*/

.heightfix {
    display: inline-block;
    width: 1px;
    height: 30px;
    vertical-align: middle;
}

.countryName .content, .countryName .heightfix {
    display: table-cell;
}

td {
    vertical-align: middle;
}

.outerwrap {
    display: inline-block;
}

.innerwrap {
    display: table-cell;
    vertical-align: middle;
}

.flagwrap {
    width: 24px;
    text-align: center;
}

.matchRow .flag {
    border: 1px solid #ACACAC;
}
