body {
	/*text-align:center;*/
	font-family: 'Gill Sans', Helvetica, sans-serif;
	min-width:1075px;
}

@font-face {
	font-family: "Brasil2014";
	src: url('brasil2014.otf') format('opentype');
}

#header h1, #header p {
	margin:0;
	padding:0;
	font-family:"Brasil2014";
	text-align: center;
}

#header {
	position: relative;
}

#tzwrapper {
	position: absolute;
	top: 60%;
	/*-webkit-transform: translate(0%,-50%);
	-ms-transform: translate(0%,-50%);
	transform: translate(0%,-50%);*/
}

h1 {
	font-size: 2.5em;
	color: red;
}

.border {
	position: fixed;
	width: auto;
	height: auto;
	z-index: -1;
}

#top-left {
	top: 0px;
	left: 0px;
	max-width: 40.205%;
	max-height: 26.758%
}

#top-right {
	top: 0px;
	right: 0px;
	max-width: 41.575%;
	max-height: 27.397%
}

#bottom-left {
	bottom: 0px;
	left: 0px;
	max-width: 31.233%;
	max-height: 26.393%
}

#bottom-right {
	bottom: 0px;
	right: 0px;
	max-width: 19.726%;
	max-height: 30.502%;
}

hr {
	height:5px;
	margin:-5px 0px 0px 0px;
	color: #ACACAC;
	background-color:#ACACAC;
	border-width:0px;
	position:relative;
	z-index:3;
}

.team1 {
    float: left;
    text-align:right;
    width:33.33333%;
    text-weight:bold;
}
.result {
    float: left;
    text-align:center;
    width:33.33333%;
}
.team2 {
    float: right;
    text-align:left;
    width: 33.33333%;
    text-weight:bold;
}

.matchRow {
    width:55%;
    margin-left:auto;
    margin-right:auto;
    padding: 10;
	color: #333333;
	font-size:large;
}

.matchRow::after {
    visibility:hidden;
    display:block;
    content:"";
    clear:both;   
}

.details {
	color: #333333;
	font-family: Georgia, serif;
    font-size:small;
}

td.details {
	white-space:nowrap;
	max-width:175px;
	vertical-align:bottom;
	color:white;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
   	ms-filter: progid:DXImageTransform.Microsoft.Glow(color=#000000, strength=1);
}

.score1, .score2 {
    width:20px;
}

.groupTable td > div {
	position:relative;
	height:30px;
	/*border-spacing:0px;*/
	border-top: 1px solid #ACACAC;
}

.groupTable td, .groupTable div {
	/*border-spacing:0px;*/
	padding:0px;
	/*border-image-width:0px;*/
}

.groupTable td {

}

.groupTable .content {
	/*top: 50%;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
    vertical-align:middle;
	/*border-spacing:0px;*/
	display:inline-block;
}

.heightfix {
	display:inline-block;
	width:1px;
	height:30px;
	/*border-spacing:0px;*/
	vertical-align:middle;
}

.countryName .content, .countryName .heightfix {
	display:table-cell;
}

.stat {
	text-align:right;
	padding-right:5px !important;
}

td {
	vertical-align:middle;
}

.outerwrap {
	display:inline-block;
}

.innerwrap {
	display:table-cell;
	vertical-align:middle;
}

.flagwrap {
	width:24px;
	text-align:center;
}

.matchRow .flag {
	border:1px solid #ACACAC;
}

.clinched {
	background:#ccffcc;
}

.eliminated {
	background:#ffcccc;
}

#buttons {
	text-align:center;
}

#buttons > div {
	display:table;
	margin:auto;
	border-collapse:separate;
	border-spacing: 5px 2px;
}

.groupTable table {
	margin:0 auto;
}

.location {
    float: left;
    text-align:left;
    width:50%;
}

.time {
    float: right;
    text-align:right;
    width:50%;
}

.kolocation, .kotime {
	display:inline-block;
}

.details::after {
    visibility:hidden;
    display:block;
    content:"";
    clear:both;   
}

#Bracket {
	padding: 0px;
	max-width:1228px;
	margin:auto;
	background-image: url('kob.png');
	background-position: right;
	background-repeat:no-repeat;
	text-align: left;
}

.champion {
	position:relative;
	font-family:'Brasil2014';
	color:red;
	font-size:2em;
	text-align:center;
	display:none;
	vertical-align: middle;
	border:1px solid #aaa;
	background-color:#F9F9F9;
	width: 200px;
	height: 200px;
}

.champion .flag {
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
    box-shadow: 0px 0px 10px 5px #FFD700;
    webkit-box-shadow: 0px 0px 10px 5px #FFD700;
    moz-box-shadow: 0px 0px 10px 5px #FFD700;
    ms-filter: progid:DXImageTransform.Microsoft.Glow(color=#FFD700, strength=5);
}

.champion .countryName {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

.champion p {
		text-shadow:1px 1px 2px #FFD700, -1px 1px 2px #FFD700, 1px -1px 2px #FFD700, -1px -1px 2px #FFD700;
		ms-filter: progid:DXImageTransform.Microsoft.Glow(color=#FFD700, strength=1);
		margin:0px;
}

.matches {
	margin-bottom:10px;
}

th {
background: rgba(243,243,243,1);
background: -moz-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(191,193,194,1) 50%, rgba(172,172,172,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,243,243,1)), color-stop(50%, rgba(191,193,194,1)), color-stop(100%, rgba(172,172,172,1)));
background: -webkit-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(191,193,194,1) 50%, rgba(172,172,172,1) 100%);
background: -o-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(191,193,194,1) 50%, rgba(172,172,172,1) 100%);
background: -ms-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(191,193,194,1) 50%, rgba(172,172,172,1) 100%);
background: linear-gradient(to bottom, rgba(243,243,243,1) 0%, rgba(191,193,194,1) 50%, rgba(172,172,172,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#acacac', GradientType=0 );

    		text-shadow: 1px 2px 3px #def, 0 0 0 #000, 1px 2px 3px #def;
}

.groupTable tr > th:first-child {
			border-radius:6px 0px 0px 0px;
}

.groupTable tr > th:last-child {
			border-radius:0px 6px 0px 0px;
}
/*
td span {
	vertical-align:middle;
}

td div {
	display:table-cell;
	height:30px;
	width:100%;
	vertical-align:middle;
	font-size:xx-small;
}*/
