body {
	text-align:center;
}

@font-face {
	font-family: "Brasil2014";
	src: url('brasil2014.otf') format('opentype');
}

header,h1,p {
	margin:0;
	padding:0;
	font-family:"Brasil2014";
}

h1 {
	font-size: 2.5em;
	color: red;
}


.border {
	position: fixed;
	width: auto;
	height: auto;
	z-index: -1;
}

#top-left {
	top: 0px;
	left: 0px;
	max-width: 40.205%;
	max-height: 26.758%
}

#top-right {
	top: 0px;
	right: 0px;
	max-width: 41.575%;
	max-height: 27.397%
}

#bottom-left {
	bottom: 0px;
	left: 0px;
	max-width: 31.233%;
	max-height: 26.393%
}

#bottom-right {
	bottom: 0px;
	right: 0px;
	max-width: 19.726%
	max-height: 30.502%
}

.team1 {
    float: left;
    text-align:right;
    width:33.33333%;
}
.result {
    float: left;
    text-align:center;
    width:33.33333%;
}
.team2 {
    float: right;
    text-align:left;
    width: 33.33333%;
}

.matchRow {
    width:55%;
    margin-left:auto;
    margin-right:auto;
}

.matchRow::after {
    visibility:hidden;
    display:block;
    content:"";
    clear:both;   
}

.score1, .score2 {
    width:20px;
}

.groupTable td div {
	position:relative;
}

.clinched {
	background:#ccffcc;
}

.eliminated {
	background:#ffcccc;
}

#buttons {
	text-align:center;
}

.groupTable table {
	margin:0 auto;
}

.matchRow {
	padding: 10;
}

.location {
    float: left;
    text-align:left;
    width:50%;
    font-size:small;
}

.time {
    float: right;
    text-align:right;
    width: 50%;
    font-size:small;
}

.details::after {
    visibility:hidden;
    display:block;
    content:"";
    clear:both;   
}

.flag {
	/*top:-50%;
	left:-50%;*/
}

/*.flag-cropper {
	display:inline-block;
	position: relative;
	width: 24px;
	height: 19px;
	overflow: hidden;
}*/

#Bracket {
	padding: 0px;
	background-image: url('kob.png');
	background-position: right;
	text-align: left;
}

.champion {
	position:relative;
	font-family:'Brasil2014';
	color:red;
	font-size:2em;
	text-align:center;
	display:none;
	vertical-align: middle;
	border:1px solid #aaa;
	background-color:#F9F9F9;
	width: 200px;
	height: 200px;
}

.champion .flag {
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
    box-shadow: 0px 0px 10px 5px #FFD700;
    webkit-box-shadow: 0px 0px 10px 5px #FFD700;
    moz-box-shadow: 0px 0px 10px 5px #FFD700;
    ms-filter: progid:DXImageTransform.Microsoft.Glow(color=#FFD700, strength=5);
}

.champion .countryName {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

.champion p {
		text-shadow:1px 1px 2px #FFD700, -1px 1px 2px #FFD700, 1px -1px 2px #FFD700, -1px -1px 2px #FFD700;
		ms-filter: progid:DXImageTransform.Microsoft.Glow(color=#FFD700, strength=1);
}
